body {
	background-color: #eaf2e3;
	color: #333;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #69bd45;
	color: #fff;
	text-align: center;
	padding: 20px;
}

section {
	padding: 40px; /* espaciado para la sección de 20 pixeles */
	padding-left: 10vw;
	padding-right: 10vw;
}

footer {
	background-color: #4caf50; /* Color de fondo del footer */
	color: #fff;
	padding: 20px 0;

}
.footer-content {
	max-width: 800px; /* Ancho máximo del contenido del footer */
	margin: 0 auto; /* Centrar el contenido del footer horizontalmente */
	text-align: center;
}

nav {
	background-color: #4caf50;
	padding: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: 8px 16px;
	border-radius: 5px;
}

nav ul li a:hover {
	background-color: #2f8247;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer h4 a:hover {
	text-decoration: none;
}

footer .bi {
	color: black;
	transition: 0.2s;
}

footer .bi:hover {
	color: white;
		
}

/* pagina de inicio */

#pag-principal, #pag-acerca, #pag-quienes, #pag-error{
	padding-top: 7%;
	padding-bottom: 10%;
}


#pag-principal #nosotros, #pag-acerca {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/inicio_fondo.jpg");
}

#pag-principal #nosotros h1 {
	color: #bbc82d;
	text-shadow: 0px 0px 12px #000;
}

#pag-principal #productos {

	background-color: #9ecc97;
	border-width: 0px;
	border-top-width: 10px;
	border-bottom-width: 10px;
	border-style: solid;
	border-color: #69bd45;
}